# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variables file (e.g., .env)
.env

# Ignore database files
*.sqlite3

# Ignore static files directory
static/
Lib/
Scripts/
# Ignore media files directory
media/

# Ignore IDE or editor-specific files
.vscode/
.idea/


# Ignore directories created by virtual environments
Lib/
Scripts/
pyenv/

# Ignore other files and directories
*.pyc  # Ignore Python bytecode files
*.sqlite3  # Ignore SQLite database files
*.pyo  # Ignore optimized Python files
*.pyc  # Ignore compiled Python files
__pycache__/  # Ignore Python cache directory
*.egg-info/  # Ignore Python package metadata


/Lib/
/Scripts/
